body {
    background-color: #f7e4e7;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #f8d7da !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #7a3b3b !important;
}

header {
    background: linear-gradient(to right, #ffe4e9, #ffd6df);
    color: #7a3b3b;
}


h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    color: #7a3b3b;
}


p {
    color: #555;
}


.btn-dark {
    background-color: #f4a6b0;
    border: none;
    color: white;
    border-radius: 10px;
}

.btn-dark:hover {
    background-color: #e8899a;
}


img {
    border-radius: 15px;
}
  strong{
  color:#7b3030;
}
ul{
      color:#964949;
}


footer {
    background-color: #f8d7da;
    color: #7a3b3b;
}
footer{
    background-color: rgb(198, 115, 129) !important
}
section{
    background-color: #f8d7da;
}
.card{

    background-color: #f7e8eb;
}


.my-link{
    color:#552121 !important;
    /*text-decoration: none;*/
}
.carousel {
    box-shadow: 0 20px 25px 5px rgba(189, 88, 153, 0.441);
    border-radius: 15px;
}
 p{
    color:#964949;
}